{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div>
	<div class="row">
		<div class="description">
			<p>This web application is a data science project investigating the effects of the COVID-19 pandemic in England. This project has been developed using a Python Flask backend, Heroku web hosting, and a CockroachDB cloud database. The source code can be found <a href="https://github.com/ArjunNiranjan1/covid19Project">here</a>. The data source can be found <a href="https://coronavirus.data.gov.uk/">here</a>.</p>
			<p>The Summary page briefly shows daily case and death patterns over the course of the pandemic.</p>
			<p>The Vaccines page assesses the effectiveness of vaccination on public health in England.</p>
			<p>The Forecasting page uses time series analysis to predict how the pandemic will develop.</p>
			<p>The Development page shows a list of features that I am planning to implement in the near future.</p>


</div>
{% endblock %}