<!doctype html>
<html>
<head>
	<title>Covid-19 England</title>
	<meta name="description" value="An analysis of the COVID-19 pandemic in England">
</head>
<body>
	<div>
		<div style="float: left; width: 70%;"><h3>Summary</h3>
			<img src="data:image/png;base64{{cases}}" alt="Cases image unavailable" width="500" height="600">
			<p></p>
		</div>
		<div style="float: left; width: 30%;"><h3>Features in Development</h3>
			<ul>
				<li>Clean up landing page: layout, navbar, footer, favicon</li>
				<li>Page for a hypothesis test for effectiveness of vaccination on daily cases/deaths</li>
				<li>Page on time series analysis testing for seasonal COVID</li>
				<li>Serverless Python ETL tool using Google Cloud Functions to get up to date data as gov.uk publishes it</li>
				<li>Automate web-scraping for data from other sources</li>
				<li>Fully automate query update process. Currently, the database is queried every time the website is opened, which is inefficient. Queries should be re-run on database update</li>
			</ul>
		</div>
		<br style="clear: left;" />
	</div>
</body>
</html>