<!doctype html>
<html>
<head>
	<title>Covid-19 England</title>
	<meta name="description" value="An analysis of the COVID-19 pandemic in England">
</head>
<body>
	<div>
		<div style="float: left; width: 70%;"><h3>Summary</h3>
			<div>
			<div width: 35%>
				<img src = {{ cases_time_series }} alt="Cases image unavailable" width="500" height="300">
			</div>
			<div width: 35%>
				<p>Cases description</p>
			</div>
			</div>
			<div>
			<div width: 35%>
				<img src = {{ deaths_time_series }} alt="Deaths image unavailable" width="500" height="400">
			</div>
			<div width: 35%>
				<p>Deaths description</p>
			</div>
			</div>
			<div>
			<div width: 35%>
				<img src = {{ mort_plot }} alt="Mortality image unavailable" width="600" height="400">
			</div>
			<div width: 35%>
				<p>Here a day's mortality is defined as the day's daily deaths divided by its daily reported cases.</p>
			</div>
			</div>
		</div>
		<div style="float: left; width: 30%;"><h3>Features in Development</h3>
			<ul>
				<li>Clean up landing page: layout, navbar, footer, favicon</li>
				<li>Page for a hypothesis test for effectiveness of vaccination on daily cases/deaths</li>
				<li>Page on time series analysis testing for seasonal COVID</li>
				<li>Serverless Python ETL tool using Google Cloud Functions to get up to date data as gov.uk publishes it</li>
				<li>Automate web-scraping for data from other sources</li>
				<li>Fully automate query update process. Currently, the database is queried every time the website is opened, which is inefficient. Queries should be re-run on database update</li>
			</ul>
		</div>
		<br style="clear: left;" />
	</div>
</body>
</html>