{% extends 'base.html' %}

{% block title %}Summary{% endblock %}


{% block content %}
	<div>
		<div class="row">
			<div class="image">
				<img src = {{ plot_dict["cases_time_series"] }} alt="Cases image unavailable" width="600" height="400">
			</div>
			<div width: 35%>
				<p>There are two clear peaks in daily reported cases, one around January 2021 and a much larger peak around November 2021. This data does not account for the first wave in March 2020, because testing was not widely available. Today's date is {{ data_dict["today"] }}, and the data on this page is {{ data_dict["dataAge"] }} days out of date.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="image">
				<img src = {{ plot_dict["deaths_time_series"] }} alt="Deaths image unavailable" width="600" height="400">
			</div>
			<div class="description">
				<p>Deaths here are defined as a death of an individual who received a positive COVID-19 within 28 days of death. We have more confidence in the quality of this data because it is harder to miss a death than an asymptomatic case. The day with the most deaths was {{ data_dict["dayOfMaxDeaths"].values[0] }}. Half of all COVID-19 related deaths to date had occurred by 22/01/2022.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="image">
				<img src = {{ plot_dict["mort_plot"] }} alt="Mortality image unavailable" width="600" height="400">
			</div>
			<div class="description">
				<p>Here, a day’s mortality is defined as the day’s daily deaths divided by the day’s daily cases. Since early reported cases are likely to be an underestimate of actual cases, the high early mortality is probably an overestimate. The average mortality to date is {{ data_dict["fullMortality"] }}. However, if we split the data at 200 days in we see an early mortality of {{ data_dict["earlyMortality"] }}, and a later mortality of just {{ data_dict["lateMortality"] }}. It is unclear how much of the high early mortality can be attributed to daily case underestimation, and how much is due to real causes. The value {{ data_dict["lateMortality"] }} with a 95% confidence interval of {{ data_dict["mortalityConfidence"] }} can be taken as a reasonable mortality estimate.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="image">
				<img src = {{ plot_dict["full_plot"] }} alt="Mortality image unavailable" width="600" height="400">
			</div>
			<div class="description">
				<p>This histogram shows that there were few COVID-19 related deaths on most days over the past 3 years, with rare spikes. On average there were {{ data_dict["avgDailyDeaths"] }} deaths each day with a 95% confidence interval of {{ data_dict["deathsConfidence"] }}. However, this data is highly skewed, with a skewness of {{ data_dict["deathsSkew"] }}. High (positive) skewness is worrying because it suggests we should expect more days with extremely high death counts than a more centred distribution. The earlier plot of death count shows that all the days with extremely high death counts were nearer the start of the pandemic. For this reason, the data will be split for further analysis.</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="description">
				<img src = {{ plot_dict["split_plot"] }} alt="Mortality image unavailable" width="600" height="400">
			</div>
			<div width: 35%>
				<p>Splitting the daily death data 500 da	ys ago provides further insights. The early time period sees death counts with high variance and positive skewness, whereas the more recent data shows much more predictable death counts. The more recent data sees {{ data_dict["lateAvgDailyDeaths"] }} daily deaths on average, with a 95% confidence interval of {{ data_dict["lateDeathsConfidence"] }}, and only {{ data_dict["lateDeathsSkew"] }} skewness. This indicates that individual days with high COVID-19 related death counts are not likely to be seen in future in England.</p>
			</div>
		</div>
	</div>
{% endblock %}
