{% extends 'base.html' %}
{% block title %}Vaccines{% endblock %}
{% block content %}
<div>
	<div class="row">
		<div class="image">
			<img src = {{ plots["timeSeries"] }} alt="Time series image unavailable" width="600" height="400">
		</div>
		<div class="description" width: 35%>
			<p>This time series shows daily first, second and booster doses applied in England over time. So far {{ data["propVaccSoFar"] }} people have been fully vaccinated (2 doses) in England, and by {{ data["dateOfHalfVacc"] }}, half of the population of England were fully vaccinated against COVID-19.</p>

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="description">
			<h3>Has vaccination improved public health in England? - hypothesis testing</h3>
			<p></p>
		</div>
	</div>
	<hr>
</div>
{% endblock %}